.container-choose-element {
    width: 500px;
    height: 300px;
    background-image: url("../images/world-of-warcraft-classic-raid-uhdpaper.com-4K-3.990-wp.thumbnail.jpg");
    background-position: right;
    opacity: 0.95;
    transform-style: preserve-3d;
    perspective: 100px;
    position: absolute;
    left: 35%;
    top: 30%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: none;
}

.container-if-field-is-buyed {
    border: 1px solid black;
    background: rgba(240, 255, 240, 0.267);
    position: absolute;
    left: 35%;
    top: 30%;
    width: 400px;
    height: 400px;
    display: none;
}

.back-element {
    font-size: 32px;
    text-align: right;
    margin-right: 0px;
}

.string-element {
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
}

.container-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
}

.box-button {
    border: 2px solid black;
    border-radius: 13px;
    width: 60px;
    height: 60px;
    align-self: center;
    justify-self: center;
}

.box-button button{
    margin-left: 0px;
}

.button {
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 0px;
}

button:hover {
    border: none;
}

button:target {
    border: none;
}